# ============================================================
# Файл .env для Docker Compose
# Общие переменные окружения для всех сервисов
# Docker Compose автоматически подхватывает .env из той же папки
# ============================================================

# --- PostgreSQL (общие настройки) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD="Ваш пароль"
POSTGRES_PORT=5432

# --- RabbitMQ (общие настройки) ---
RABBIT_MQ_USER='username'
RABBIT_MQ_PASSWORD="Ваш пароль"
RABBIT_MQ_PORT=5672
RABBIT_MQ_QUEUE_NAME=messagequeue
RABBIT_MQ_EXCHANGE=messagequeue-exchange

# --- Порты сервисов (для ссылок между микросервисами) ---
SESSION_SERVICE_PORT=8081
HOTEL_SERVICE_PORT=8082
BOOKING_SERVICE_PORT=8083
PAYMENT_SERVICE_PORT=8084
LOYALTY_SERVICE_PORT=8085
REPORT_SERVICE_PORT=8086
GATEWAY_SERVICE_PORT=8087

